---
import FateFlixSurvey from "../../components/FateFlixSurvey.jsx";
const { id } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Your Cosmic Reading | FateFlix</title>
  </head>
  <body class="bg-black min-h-screen">
    <FateFlixSurvey client:only="react" initialSubmissionId={id} />
  </body>
</html>

